nr/data/.flows.json.backup
[{"id":"d44cc897.dc80c8","type":"tab","label":"Flow 1"},{"id":"5178f1a8.e135a","type":"mqtt-broker","z":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ed3e63d1.2fb88","type":"http in","z":"d44cc897.dc80c8","name":"test","url":"/test/:device_name/:device_id","method":"get","swaggerDoc":"","x":87,"y":48,"wires":[["4520ba37.ced3f4"]]},{"id":"4520ba37.ced3f4","type":"function","z":"d44cc897.dc80c8","name":"parse","func":"var device = msg.req.params.device_name;\nvar id = msg.req.params.device_id;\nmsg.topic = device + \"_\" + id;\nmsg.payload = \"test\";\nnode.log(msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":243,"y":48,"wires":[["76e71f30.5ce2"]]},{"id":"76e71f30.5ce2","type":"mqtt out","z":"d44cc897.dc80c8","name":"","topic":"","qos":"","retain":"","broker":"5178f1a8.e135a","x":405,"y":48,"wires":[]},{"id":"b17b1c40.d81e4","type":"debug","z":"d44cc897.dc80c8","name":"","active":true,"console":"false","complete":"true","x":750,"y":340,"wires":[]},{"id":"9736efe0.ae037","type":"mqtt in","z":"d44cc897.dc80c8","name":"bottlelamp/all/mode","topic":"bottlelamp/+/mode","qos":"0","broker":"5178f1a8.e135a","x":530,"y":320,"wires":[["b17b1c40.d81e4"]]},{"id":"979dfc6f.639bf","type":"mqtt in","z":"d44cc897.dc80c8","name":"bottlelamp/all/color","topic":"bottlelamp/+/color","qos":"0","broker":"5178f1a8.e135a","x":530,"y":360,"wires":[["b17b1c40.d81e4"]]},{"id":"b3d952a0.c9013","type":"mqtt in","z":"d44cc897.dc80c8","name":"bottlelamp/all/speed","topic":"bottlelamp/+/speed","qos":"0","broker":"5178f1a8.e135a","x":530,"y":400,"wires":[["b17b1c40.d81e4"]]},{"id":"d39f1422.a6da18","type":"inject","z":"d44cc897.dc80c8","name":"color #00FF66","topic":"bottlelamp/bottlelamp_1627163/set/color","payload":"#00FF66","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":260,"wires":[["4be7a116.c79de"]]},{"id":"28c96354.085f9c","type":"inject","z":"d44cc897.dc80c8","name":"mode Rainbow","topic":"bottlelamp/bottlelamp_1627163/set/mode","payload":"Rainbow","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":100,"wires":[["4be7a116.c79de"]]},{"id":"4be7a116.c79de","type":"mqtt out","z":"d44cc897.dc80c8","name":"bottlelamp/set","topic":"","qos":"0","retain":"false","broker":"5178f1a8.e135a","x":520,"y":200,"wires":[]},{"id":"ebf069c6.9e9048","type":"inject","z":"d44cc897.dc80c8","name":"speed 255","topic":"bottlelamp/bottlelamp_1627163/set/speed","payload":"255","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":300,"wires":[["4be7a116.c79de"]]},{"id":"e1e4c4de.17d578","type":"inject","z":"d44cc897.dc80c8","name":"mode Off","topic":"bottlelamp/bottlelamp_1627163/set/mode","payload":"Off","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":180,"wires":[["4be7a116.c79de"]]},{"id":"fadb27f4.b4e3e8","type":"inject","z":"d44cc897.dc80c8","name":"mode Fire","topic":"bottlelamp/bottlelamp_1627163/set/mode","payload":"Fire","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":140,"wires":[["4be7a116.c79de"]]},{"id":"f7142805.601c48","type":"inject","z":"d44cc897.dc80c8","name":"mode Solid Color","topic":"bottlelamp/bottlelamp_1627163/set/mode","payload":"Solid Color","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":220,"wires":[["4be7a116.c79de"]]},{"id":"df8bf557.b90768","type":"inject","z":"d44cc897.dc80c8","name":"speed 2","topic":"bottlelamp/bottlelamp_1627163/set/speed","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":340,"wires":[["4be7a116.c79de"]]},{"id":"a76462be.884cf","type":"mqtt in","z":"d44cc897.dc80c8","name":"bottlelamp/all/modelist","topic":"bottlelamp/+/modelist","qos":"0","broker":"5178f1a8.e135a","x":540,"y":280,"wires":[["b17b1c40.d81e4"]]},{"id":"caea9b02.479108","type":"inject","z":"d44cc897.dc80c8","name":"statusupdate","topic":"bottlelamp/bottlelamp_1627163/statusupdate","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":380,"wires":[["4be7a116.c79de"]]},{"id":"28dd710e.2d6b0e","type":"inject","z":"d44cc897.dc80c8","name":"something","topic":"bottlelamp/bottlelamp_1627163/mode","payload":"Solid Color","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":500,"wires":[["8b0ca5aa.3f2458","b25a6fd4.0008a"]]},{"id":"8b0ca5aa.3f2458","type":"debug","z":"d44cc897.dc80c8","name":"","active":true,"console":"false","complete":"false","x":450,"y":600,"wires":[]},{"id":"c5ae6741.7f2b38","type":"mqtt in","z":"d44cc897.dc80c8","name":"Sys","topic":"presence","qos":"0","broker":"5178f1a8.e135a","x":80,"y":680,"wires":[["c590d51f.86bb68"]]},{"id":"c590d51f.86bb68","type":"debug","z":"d44cc897.dc80c8","name":"dbg sys","active":true,"console":"false","complete":"true","x":240,"y":680,"wires":[]},{"id":"b25a6fd4.0008a","type":"mqtt out","z":"d44cc897.dc80c8","name":"mode","topic":"","qos":"0","retain":"","broker":"5178f1a8.e135a","x":430,"y":500,"wires":[]},{"id":"3714b9e6.a75b26","type":"mqtt in","z":"d44cc897.dc80c8","name":"bottlelamp/all/set/mode","topic":"bottlelamp/+/set/mode","qos":"0","broker":"5178f1a8.e135a","x":620,"y":460,"wires":[["b17b1c40.d81e4"]]},{"id":"6abcf819.7714b8","type":"mqtt in","z":"d44cc897.dc80c8","name":"bottlelamp/all/set/color","topic":"bottlelamp/+/set/color","qos":"0","broker":"5178f1a8.e135a","x":620,"y":500,"wires":[["b17b1c40.d81e4"]]},{"id":"6ead8979.0b05a8","type":"mqtt in","z":"d44cc897.dc80c8","name":"bottlelamp/all/set/speed","topic":"bottlelamp/+/set/speed","qos":"0","broker":"5178f1a8.e135a","x":630,"y":540,"wires":[["b17b1c40.d81e4"]]},{"id":"224b5d51.dc8b32","type":"mqtt in","z":"d44cc897.dc80c8","name":"bottlelamp/all/statusupdate","topic":"bottlelamp/+/statusupdate","qos":"0","broker":"5178f1a8.e135a","x":700,"y":580,"wires":[["b17b1c40.d81e4"]]}]